<IfModule mod_rewrite.c>
    RewriteEngine On
    # Checa se o mod_rewrite está habilitado
    RewriteCond %{THE_REQUEST} /index\.php\?page=([^\s&]+) [NC]
    RewriteRule ^ ?page=%1 [R=302,L,NE]

    # Internamente redireciona /index para /index.php
    RewriteRule ^index$ index.php [L,NC]
</IfModule>

<filesMatch "\.(css|jpg|jpeg|png|gif|js|ico)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>
