<IfModule mod_rewrite.c>
    RewriteEngine On

    # Reescreve /index.php?page=xxx para /index?page=xxx
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^index(?:\.php)?$ index.php [L,QSA]
</IfModule>

<filesMatch "\.(css|jpg|jpeg|png|gif|js|ico)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>
